# Test Report
Please see the [Test Specification](testspecification.md) for details of each tested case.

## Report

### pie-element
| **Test case** | **Result Development** | **Result Production** | **Comments** |
|---------------|------------|--------------|--------------|--------------|
| TC1 -  Application is running | OK | OK |  |
| TC2 -  Display current year and month  | OK | OK |  |
| TC3 -  Display form to add a budget | OK | OK |  |
| TC3 -  Change currency option in dropdown selection-element | OK | OK |  |
| TC3 -  Add value to input field of the budget form | OK | OK |  |
| TC3 -  Submit value in input field with button | OK | OK |  |
| TC3 -  Submit value in input field with pressed `Enter` key | OK | OK |  |
| TC3 -  Submit negative value | OK | OK |  |
| TC3 -  Submit a string value | OK | OK |  |
| TC3 -  Submit a value with whitespaces | OK | OK |  |
| TC3 -  See budget visualized as a pie | OK | OK |  |
| TC4 -  Display form to add an expense | OK | OK |  |
| TC4 -  Add value to input field of the expense form | OK | OK |  |
| TC4 -  Submit value in input field with pressed `Enter` key | OK | OK |  |
| TC4 -  Submit negative value| OK | OK |  |
| TC4 -  Submit a string value | OK | OK |  |
| TC4 -  Submit a value with whitespaces | OK | OK |  |
| TC4 -  See expense visualized on the budget pie | OK | OK |  |
| TC4 -  See several expenses visualized on the budget pie | OK | OK |  |
| TC4 -  See a list of added expenses and remaining value of budget | OK | OK |  |
| TC4 -  Edit an added expense and see the remaining value and the pie update | OK | OK |  |
| TC4 -  Delete an added expense and see the remaining value and the pie update | OK | OK |  |
| TC5 - Display daily allowance with no budget | OK | OK |  |
| TC5 - Display daily allowance with added budget | OK | OK |  |
| TC5 - Display daily allowance with added expense | OK | OK |  |
| TC6 - Store added budget | OK | OK |  |
| TC6 - Load stored budget | OK | OK |  |
| TC6 - Delete stored budget | OK | OK |  |
