# Test Report
Please see the [Test Specification](testspecification.md) for details of each tested case.

## Report

### pie-element
| **Test case** | **Result** | **Comments** |
|---------------|------------|--------------|
| Initialization of PieRender module | OK | Pie renders. No errors. |